.gx-tree-radio {
    background-image: url('http://cdn.sencha.com/ext/gpl/4.2.1/resources/ext-theme-neptune/images/form/radio.png');
}
/* gxp_wmsgetfeatureinfo */
.x-btn .gxp-icon-getfeatureinfo, .x-menu-item .gxp-icon-getfeatureinfo, .x-tree-node .gxp-icon-getfeatureinfo {
    background-image: url(../img/silk/information.png);
}
/* gxp_removelayer */
.x-btn .gxp-icon-removelayers, .x-menu-item .gxp-icon-removelayers, .x-tree-node .gxp-icon-removelayers {
    background-image: url(../img/silk/delete.png);
}
/* gxp_zoomtodataextent, gxp_zoomtoselectedfeatures, gxp_zoomtolayerextent */
.x-btn .gxp-icon-zoom-to, .x-menu-item .gxp-icon-zoom-to, .x-tree-node .gxp-icon-zoom-to {
    background-image: url(../img/silk/magnifier.png);
}
/* gxp_zoom */
.x-btn .gxp-icon-zoom, .x-tree-node .gxp-icon-zoom {
    background-image: url(../img/silk/magnifier.png);
}
.x-btn .gxp-icon-zoom-in, .x-tree-node .gxp-icon-zoom-in {
    background-image: url(../img/silk/magnifier_zoom_in.png);
}
.x-btn .gxp-icon-zoom-out, .x-tree-node .gxp-icon-zoom-out {
    background-image: url(../img/silk/magnifier_zoom_out.png);
}
/* gxp_panmap */
.x-btn .gxp-icon-pan, .x-tree-node .gxp-icon-pan {
    background-image: url(../img/geosilk/pan.png);
}
/* gxp_navigationhistory */
.x-btn .gxp-icon-zoom-previous, .x-tree-node .gxp-icon-zoom-previous {
    background-image: url(../img/silk/arrow_left.png);
}
.x-btn .gxp-icon-zoom-next, .x-tree-node .gxp-icon-zoom-next {
    background-image: url(../img/silk/arrow_right.png);
}
/* gxp_zoomtoextent */
.x-btn .gxp-icon-zoomtoextent, .x-tree-node .gxp-icon-zoomtoextent {
    background-image: url(../img/silk/arrow_inout.png);
}
/* position the zoom slider within map panel */
.gx-zoomslider {
    top: 90px !important;
    left: 21px !important;
}
/* Pan- and Zoom- Panel Styles*/
.olControlPanPanel div {
    background-image:url(http://cdn.sencha.com/ext/gpl/4.2.1/resources/ext-theme-neptune/images/tools/tool-sprites-dark.png);
    height:16px;
    width:16px;
    /* workaround for button height in IE */
    font-size:0px;
}
.olControlPanPanel .olControlPanNorthItemInactive {
    background-position:16px -64px;
    left:16px
}
.olControlPanPanel .olControlPanEastItemInactive {
    background-position:16px -112px;
    left: 30px;
    top: 16px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    background-position:16px -80px;
    left: 16px;
    top: 32px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    background-position:16px -128px;
    left: 2px;
    top: 16px;
}
.olControlZoomPanel {
    left:21px;
}
.olControlZoomPanel div {
    background-image:url(http://cdn.sencha.com/ext/gpl/4.2.1/resources/ext-theme-neptune/images/tools/tool-sprites-dark.png);
    height:16px;
    width:16px;
    /* workaround for button height in IE */
    font-size:0px;
}
.olControlZoomPanel .olControlZoomInItemInactive {
    background-position:16px -256px;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position:16px -272px;
    top: 123px;
}
/* gxp_scaleoverlay */
div.map-overlay {
    z-index: 1000;
    position: absolute;
    left: auto !important;
    top: auto !important;
    right: 10px !important;
    bottom: 10px !important;
}
div.map-overlay div.overlay-element {
    display:inline;
    float: left;
    margin: 5px;
}
.overlay-scaleline {
    bottom: 0px;
    left: 0px;
    margin-top: 0px;
}
